<% content_for :title, "Forgot password" %>
<div class="container-tight py-4">
  <div class="text-center mb-4">
    <a href="." class="navbar-brand navbar-brand-autodark"><img src="/assets/static/logo.svg" height="36" alt=""></a>
  </div>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'card card-md' }) do |f| %>
    <div class="card-body">
      <h2 class="card-title text-center mb-4">Forgot your password?</h2>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="mb-3">
        <%= f.label :email_address, class: 'form-label' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Enter email' %>
      </div>
      <div class="form-footer">
        <%= f.submit "Send me reset password instructions", class: "btn btn-primary w-100"%>
      </div>
    </div>
  <% end %>
  <div class="text-center text-muted mt-3">
    Already have account? <%= link_to "Sign in", new_session_path(resource_name) %>
  </div>
</div>
